[submodule "site-lisp/org-reveal"]
	path = site-lisp/vendored/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "site-lisp/htmlize"]
	path = site-lisp/vendored/htmlize
	url = https://github.com/emacsmirror/htmlize.git
[submodule "site-lisp/exec-path-from-shell"]
	path = site-lisp/vendored/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "site-lisp/vendored/mongo-el"]
	path = site-lisp/vendored/mongo-el
	url = https://github.com/m2ym/mongo-el.git
[submodule "site-lisp/vendored/omnisharp-emacs"]
	path = site-lisp/vendored/omnisharp-emacs
	url = https://github.com/hottrout/omnisharp-emacs.git
